<section style="background-color: rgba(240,67,56,.08); padding: 10px; padding-bottom: 20px; border-radius: 10px; margin-top: 20px; text-align: center; font-family: Arial, Helvetica, sans-serif;">
  <strong class="seeking-assistance-magnete">Stay Ahead in Ruby on Rails 🚀</strong>
  <div style="display: flex;align-items:center;justify-content: center;margin-top: 20px;">
    <a class="schedule-button" style="background-color: #266cb4;" target="_blank" rel="nofollow" href="https://cdn.forms-content.sg-form.com/3c58587b-483f-11f0-955d-5a58b74a1d88">
      Subscribe to the newsletter
    </a>
  </div>
</section>
